[submodule "src"]
	path = src
	url = https://github.com/drunkenQCat/voislate.git
[submodule "VoiSlateMaui"]
	path = VoiSlateMaui
	url = https://github.com/drunkenQCat/VoiSlaui.git
[submodule "VoiSlateParser"]
	path = VoiSlateParser
	url = https://github.com/drunkenQCat/VoiSlateParser.git
